@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&family=Unbounded:wght@200;400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.content-wrapper {
  width: 50%;
  background-color: rgb(53, 133, 89);
  padding: 5%;
  color: #ffffff;
  height: 100vh;
}

h1 {
  font-size: 50px;
  line-height: 1.1;
  margin-bottom: 30px;
  font-family: "Unbounded", cursive;
  padding-bottom: 90px;
}

h2 {
  margin-bottom: 100px;
  font-weight: 200;
}

figure {
  width: 50%;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
}

.button {
  margin-top: 20px;
}

.button a {
  display: inline-block;
  padding: 10px 50px;
  background: rgb(191, 202, 40);
  border-radius: 30px;
  text-decoration: none;
  color: rgb(151, 45, 41);
  font-size: 18px;
  line-height: 1.4;
  font-weight: 800;
  transition: all 0.5s ease;
}

.button a:hover {
  background: rgb(0, 0, 0);
  color: rgb(229, 255, 0);
}
